@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/* Layout  Mobile: 375px, - Desktop: 1440px */

:root {
  /* COLORS */
  --primary-green: hsl(75, 94%, 57%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-grey: hsl(0, 0%, 20%);
  --neutral-dark-grey: hsl(0, 0%, 12%);
  --neutral-off-black: hsl(0, 0%, 8%);
  /* FONTS */
  --font-Inter: "Inter", sans-serif;
  /* 400, 600, 700 */
}

::before,
::after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
}

body {
  background-color: var(--neutral-off-black);
  color: var(--neutral-white);
  font-family: var(--font-Inter);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 0.875rem;
  min-height: 100vh;
  padding: 0 20px;
}

img {
  max-width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-dark-grey);
  border-radius: 1.25rem;
  /* margin: 0 20px; */
  padding: 2rem;
}
.card__img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 0 auto 1.25rem auto;
}

section,
nav {
  text-align: center;
}

.user__name {
  font-size: 1.5rem;
  font-weight: 400;
}
.user__location {
  padding-bottom: 1.25rem;
  color: var(--primary-green);
  font-weight: 700;
}

.user__bio {
  margin: 0 auto 1.25rem auto;
  font-size: 12px;
}

.social__link {
  text-decoration: none;
  color: var(--neutral-white);
  display: block;
  background-color: var(--neutral-grey);
  padding: 1rem 0;
  margin: 1rem 0;
  border-radius: 0.625rem;
  font-weight: 700;
}
.social__link:hover {
  background-color: var(--primary-green);
  color: var(--neutral-grey);
  cursor: pointer;
}

@media (min-width: 400px) {
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    padding: 2.5rem;
    width: 24.375rem;
    max-width: 100%;
  }
  .user__bio {
    font-size: 0.875rem;
  }
}
